<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/" style="font-size: 26px; font-family: 'Monospace'">{} json similarity</a>
    <button type="button" class="btn btn-secondary" onclick="getJsonSimilarity();">Compute Similarity Score</button>
</nav>

<div class="body" style="background-color: hsl(200, 6%, 10%)">
        <div class="row">
            <div class="col-md-6">
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea11" style="height: 100vh; background-color: hsl(200, 6%, 10%); color: #FFF; font-size: 16px; font-family: 'Monospace'; border: none; padding: 40px;"></textarea>
            </div>
            <div class="col-md-6" style="border-left: 10px solid black; height: 100vh;">
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea11" style="height: 100vh; background-color: hsl(200, 6%, 10%); color: #FFF; font-size: 16px; font-family: 'Monospace'; border: none; padding: 40px;"></textarea>
            </div>
        </div>
    </div>
</div>