<div style="position: fixed; z-index: 1; width: 100%;">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/" style="font-size: 26px; font-family: 'Monospace'">{} json similarity</a>
        <div class="row" style="margin-right: 10px;">
            <button type="button" id="show-diff-button" class="btn btn-secondary" onclick="getJsonSimilarity();">
                DIAGNOSTIC INFO
            </button>
            <button type="button" id="open-modal" data-toggle="modal" style="display: none;"></button>
        </div>
    </nav>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DIANOSTIC INFO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="success-message" style="color: #0655A0; font-size: 16px;">
                </p>
                <p style="13px;">NOTE: Below is the list of different key value pairs.</p>
                <table class="table" id="diffTable">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Hash 1 Value</th>
                            <th>Hash 2 Value</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-danger" id="error-alert" role="alert" style="float: right; top: 150px; width: 300px; right: 20px; position: absolute; z-index: 2; display: none;">
    <p id="error-message"></p>
</div>

<div class="body" style="background-color: #0D2B35; position: relative; top: 65px;">
    <div class="row">
        <div class="col-md-6">
            <textarea class="form-control rounded-0 json-input1" id="json1" style="height: 100vh; background-color: #0D2B35; color: #7E7F81; font-size: 16px; font-family: 'Monospace'; border: none; padding: 40px; overflow-y: auto;"></textarea>
        </div>
        <div class="col-md-6" style="border-left: 10px solid black; height: 100vh;">
            <textarea class="form-control rounded-0 json-input2" id="json2" style="height: 100vh; background-color: #0D2B35; color: #7E7F81; font-size: 16px; font-family: 'Monospace'; border: none; padding: 40px; overflow-y: auto;"></textarea>
        </div>
    </div>
</div>
</div>