<div style="position: fixed; z-index: 9999; width: 100%;">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/" style="font-size: 26px; font-family: 'Monospace'">{} json similarity</a>
        <button type="button" class="btn btn-secondary" onclick="getJsonSimilarity();">Compute Similarity Score</button>
    </nav>
</div>

<div class="alert alert-primary" id="success-alert" role="alert" style="float: right; top: 80px; width: 300px; right: 20px; position: absolute; z-index: 999; display: none;">
    <p id="success-message"></p>
</div>

<div class="alert alert-danger" id="error-alert" role="alert" style="float: right; top: 80px; width: 300px; right: 20px; position: absolute; z-index: 999; display: none;">
    <p id="error-message"></p>
</div>

<div class="body" style="background-color: hsl(200, 6%, 10%); position: relative; top: 65px;">
    <div class="row">
        <div class="col-md-6">
            <textarea class="form-control rounded-0 json-input1" id="json1" style="height: 100vh; background-color: hsl(200, 6%, 10%); color: #FFF; font-size: 16px; font-family: 'Monospace'; border: none; padding: 40px; overflow-y: auto;"></textarea>
        </div>
        <div class="col-md-6" style="border-left: 10px solid black; height: 100vh;">
            <textarea class="form-control rounded-0 json-input2" id="json2" style="height: 100vh; background-color: hsl(200, 6%, 10%); color: #FFF; font-size: 16px; font-family: 'Monospace'; border: none; padding: 40px; overflow-y: auto;"></textarea>
        </div>
    </div>
</div>
</div>